// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//Colors
$primary: #0B0D17;
$secondary: #D0D6F9;
$black: #000;
$white: #fff;
$line: #383B4B;

$hamburger-size: 24px;

//Media query breakpoints
$breakpoints: (
  "phone-xsmall": 320px,
  "phone-small": 375px,
  "phone": 425px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 992px,
  "desktop-small": 1024px,
  "desktop": 1200px,
  "desktop-wide": 1439px,
  "desktop-ultra": 1599px,
);

//Z-index
$z-header: 10;
$z-mobile-menu: 20;